.menu {
    height: 144px ;
    background-color: white;
    width: 100%;
}

.chiacot {
    width: 1920px;
    margin: auto;
    display: flex;
}

.logo {
    text-align: left;
    margin-top: 34px; 
    margin-left: 152px;
}
.text {
    text-align: right;
    margin-left: 425px;
    margin-top: 72px;
    
}

.text a {
   color: black;
   
   margin-right: 60px;

}

.banner1 .anh{
    width: 1920px;
    height: 1010px;
    margin-top: 80px;
    position: relative;
}

.text2 {
    position: absolute;
    margin-top: 365px;
}