.menu {
    height: 144px ;
    background-color: white;
    width: 100%;
}
#NEW__COLLECTION{
    left: 400px;
    top: 400px;
    position: absolute;
    overflow: visible;
    width: 1000px;
    height: 372px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    color: rgba(54,54,54,1);
}

#READY_TO_WEAR_CLOTHING_MADE_FO{
    left: 1100px;
    top: 1375px;
    position: absolute;
    overflow: visible;
    width: 680px;
    white-space: nowrap;
    text-align: right;
    font-family: Bodoni 72;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(255,255,255,1);
}

.chiacot {
    width: 1920px;
    margin: auto;
    display: flex;
}

.logo {
    text-align: left;
    margin-top: 34px;
    margin-left: 152px;
}
.text {
    text-align: right;
    margin-left: 425px;
    margin-top: 72px;

}

.text a {
   color: black;

   margin-right: 60px;
}





#Component_3__1{
    position: absolute;
    width: 423px;
    height: 85px;
    left: 749px;
    top: 2119px;
    overflow: visible;
}

.Rectangle_22_cr{
    position: absolute;
    overflow: visible;
    width: 423px;
    height: 85px;
    left: 0px;
    top: 0px;
}

#SEE_THE_COLLECTION{
    left: 91.972px;
    top: 30px;
    position: absolute;
    overflow: visible;
    width: 255px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat ExtraBold;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(5,5,5,1);
}

button{
    transition-duration: 0.4s;
}

button:hover{
    background-color: black;
}

span{
    transition-duration: 0.3s;
}

span:hover{
    color: white;
}

.Rectangle_18{
    position: absolute;
    overflow: visible;
    width: 1922px;
    height: 50px;
    left: 0px;
    top: 2445px;
}

#SUPPORTBOUTIQUES__Denim_Jacket{
    opacity: 0.618;
    left: 36.5px;
    top: 2459px;
    position: absolute;
    overflow: visible;
    width: 713px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255,255,255,1);
}

#SPECIAL_PRICES{
    left: 792px;
    top: 2445px;
    position: absolute;
    overflow: visible;
    width: 339px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(255,255,255,1);
}

#SUPPORTBOUTIQUES__Denim_Jacket_ck{
    opacity: 0.618;
    left: 1173.5px;
    top: 2459px;
    position: absolute;
    overflow: visible;
    width: 713px;
    white-space: nowrap;
    text-align: center;
    font-family: Montserrat Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(255,255,255,1);
}

#SUPPORTBOUTIQUES__Denim_Jacket_cl{
    left: 570px;
    top: 2621px;
    position: absolute;
    overflow: visible;
    width: 782px;
    height: 75px;
    text-align: center;
    font-family: Montserrat Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(118,118,118,1);
}

#Anh_chup_Man_hinh_2020-05-28_l{
    position: absolute;
    width: 351px;
    height: 476px;
    left: 140px;
    top: 2779px;
    overflow: visible;
}

#Anh_chup_Man_hinh_2020-05-28_l_b{
    position: absolute;
    width: 351px;
    height: 476px;
    left: 570px;
    top: 2779px;
    overflow: visible;
}

#Anh_chup_Man_hinh_2020-05-28_l_ca{
    position: absolute;
    width: 351px;
    height: 476px;
    left: 999px;
    top: 2779px;
    overflow: visible;
}

#Anh_chup_Man_hinh_2020-05-28_l_cb{
    position: absolute;
    width: 351px;
    height: 476px;
    left: 1429px;
    top: 2779px;
    overflow: visible;
}
>>>>>>> 16f69954cf4b8140ccff552f63101cb8f771f2ad
